<% layout('../html/layout.html.ejs') %>
<div class="container-fluid">
    <div class="row">
        <a style="float: right" href="/rabbots/new" class="btn btn-info">Créer un nouveau bot</a>
    </div>
    <hr />
</div>