<% layout('../html/layout.html.ejs') %>
<div class="container-fluid">
    <div class="row">
        <form action="">
            <div class="col-lg-6">
                <h2>Les profils disponibles : </h2>
                <!-- List group -->
                <ul class="list-group">
                     <% for (var i = 0; i < jobs.length; i++) {%>
                        <li class="list-group-item">
                            <%= jobs[i].title %>
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" data-id="<%= jobs[i].id %>"/>
                                <label for="someSwitchOptionDefault" class="label-default"></label>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h2>Les questions à poser : </h2>
                <ul class="list-group">
                    <% for (var i = 0; i < questions.length; i++) {%>
                        <li class="list-group-item">
                            <%= questions[i].body %>
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" data-id="<%= questions[i].id %>"/>
                                <label for="someSwitchOptionDefault" class="label-default"></label>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <hr />
            <div class="col-lg-12">
                <input type="submit" value="Sauvegarder" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
<script>

</script>