<% layout('../html/layout.html.ejs') %>
<div class="container-fluid">
    <div class="row">
        <form action="#" id="form-bot" method="POST">
            <div class="col-lg-6">
                <h2>Les profils disponibles : </h2>
                <!-- List group -->
                <ul class="list-group">
                     <% for (var i = 0; i < jobs.length; i++) {%>
                        <li class="list-group-item">
                            <%= jobs[i].title %>
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" data-id="<%= jobs[i].id %>"/>
                                <label for="someSwitchOptionDefault" class="label-default"></label>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h2>Les questions à poser : </h2>
                <ul class="list-group">
                    <% for (var i = 0; i < questions.length; i++) {%>
                        <li class="list-group-item">
                            <%= questions[i].body %>
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" data-id="<%= questions[i].id %>"/>
                                <label for="someSwitchOptionDefault" class="label-default"></label>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <hr />
            <div class="col-lg-12">
                <input type="submit" value="Sauvegarder" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        let form = jQuery('#form-bot');
        form.on('submit', function (e) {
            e.preventDefault();
            let checkBoxJobChoices = form.find('input:checkbox[name=cbox-job]:checked');
            let checkBoxQuestionsChoices = form.find('input:checkbox[name=cbox-question]:checked');
            let parcelJob = [], parcelQuestions = [], parcel = [];

            checkBoxJobChoices.each(function(){
                console.log(jQuery(this));
                parcelJob.push(jQuery(this).data('id'));
            });
            checkBoxQuestionsChoices.each(function(){
                parcelQuestions.push(jQuery(this).data('id'));
            });

            for (let job in parcelJob) {
                parcel.push({
                    'id_job' : parcelJob[job],
                    'questions' : parcelQuestions
                });
            }

            jQuery.ajax({
                url: '/ask/set/',
                method : 'POST',
                data: parcel,
                success: function (data) {
                    window.location.href = "/rabbots";
                },
            });
        });
    });
</script>