<div class="sidebar" data-color="orange" data-image="/static/assets/img/rabbot.png">
    <div class="sidebar-wrapper">
        <div class="logo"  style="text-align: center">
            <a href="http://www.gfi.world/fr/" class="simple-text">
                <img src="/static/assets/img/logo_gfi.jpg" alt="" width="200">
                <span style="display: block; margin-top: 10px">Recrutement</span>
            </a>
        </div>
        <ul class="nav">
            <li class>
                <a href="/">
                    <i class="pe-7s-graph"></i>
                    <p>Tableau de bord</p>
                </a>
            </li>
            <li class="">
                <a href="/questions">
                    <i class="pe-7s-graph"></i>
                    <p>Rédiger les questions</p>
                </a>
            </li>
            <li class="">
                <a href="/jobs">
                    <i class="pe-7s-graph"></i>
                    <p>Profils métiers</p>
                </a>
            </li>
            <li class="">
                <a href="/rabbots">
                    <i class="pe-7s-graph"></i>
                    <p>Bot</p>
                </a>
            </li>
            <li class="">
                <a href="/candidats">
                    <i class="pe-7s-graph"></i>
                    <p>Candidatures</p>
                </a>
            </li>
        </ul>
    </div>
</div>