<div class="sidebar" data-color="orange" data-image="/static/assets/img/rabbot.png">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.gfi.world/fr/" class="simple-text">GFI Recrutement</a>
        </div>
        <ul class="nav">
            <li class>
                <a href="/">
                    <i class="pe-7s-graph"></i>
                    <p>Tableau de bord</p>
                </a>
            </li>
            <li class="">
                <a href="/questions">
                    <i class="pe-7s-graph"></i>
                    <p>Rédiger les questions</p>
                </a>
            </li>
            <li class="">
                <a href="/jobs">
                    <i class="pe-7s-graph"></i>
                    <p>Profils métiers</p>
                </a>
            </li>
            <li class="">
                <a href="/candidats">
                    <i class="pe-7s-graph"></i>
                    <p>Candidatures</p>
                </a>
            </li>
        </ul>
    </div>
</div>