<% layout('../html/layout.html.ejs') %>

<div class="container-fluid view-candidate">
    <div class="row">
        <div class="actions">
            <button class="btn btn-info">Valider la candidature</button>
            <button class="btn btn-warning">Mettre en attente la candidature</button>
            <button class="btn btn-danger" ><a href="/candidats/remove/<%= data.candidateData[0].id %>">Supprimer la candidature</a></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h3 class="h3">Profil choisie</h3>
            <div class="job-profile">
                <span>Poste à pourvoir :</span><span><%= data.res[0].title %></span>
            </div>
            <div class="job-description">
                <br>
                <h3>Description :</h3>
                    <%= data.res[0].description %>
            </div>
            <div class="job-description">
                <br>
                <h3>Compétences requise :</h3>
                    <%= data.res[0].skills %>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="h3">Compte-rendu de la conversation</h3>
            <div id="mdToHtml" class="mdToHtml"></div>
        </div>
    </div>
</div>

<script>
    let url = window.location.href;

    // now we need to parse the url
    id = url.split('/');

    fetch(`/api/md/${id[4]}`)
        .then(res => {
            return Promise.resolve(res.json())
        })
        .then(data => {
            console.log(data.data);

            let converter = new showdown.Converter(),
            html = converter.makeHtml(data.data.replace(/ /g,''));
            $('#mdToHtml').html(html);
        })
        .catch(e => console.log(e));

    
</script>