<% layout('../html/layout.html.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 header-job">
            <h2 class="h2" id="h2">Liste des profils :</h2>
            <a href="/jobs/new" class="btn btn-job-new btn-group btn-success">Créer un nouveau profil</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <% for(var i=0; i < 3; i++) { %>
        <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6">
            <a href="#" id="#" class="douceur-item">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="/static/assets/img/rabbot/rabbot_dev.png" alt="">
                            <span class="job-name">Développeur J2EE</span>
                        </div>
                        <div class="back">
                            <div class="card">
                                <span class="job-type">CDD</span>
                                <span class="date-start">Date de début : 21/04/2017</span>
                                <span class="date-end">Date de fin : 21/04/2018</span>
                                <div class="description">
                                    <p>Une super description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>

