<% layout('../html/layout.html.ejs') %>

<div class="container-fluid">
    <div class="row">
        <h2 class="h2">Création d'un nouveau profil :</h2>
        <form action="/jobs/create" method="post">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="title">Intitulé :</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="subtitle">Mention :</label>
                    <input type="text" name="subtitle" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description :</label>
                    <textarea name="description" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="date-start">Date de début :</label>
                    <input type="text" name="date_start" id="date-start" class="form-control">
                </div>
                <div class="form-group">
                    <label for="date-end">Date de fin :</label>
                    <input type="text" name="date_end" id="date-end" class="form-control">
                </div>
                <div class="form-group">
                    <label for="subtitle">Connaissance requise :</label>
                    <input type="text" name="skills" class="form-control">
                </div>
                <div class="form-group">
                    <label for="thumbnail">Miniature :</label>
                    <select name="thumbnail" class="form-control">
                        <option value="/static/assets/img/rabbot/rabbot_design.png">Rabbot Designer</option>
                        <option value="/static/assets/img/rabbot/rabbot_dev.png">Rabbot Developpeur</option>
                        <option value="/static/assets/img/rabbot/rabbot_project.png">Rabbot Chef de projet</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Créer le nouveau profil" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $( function() {
        $( "#date-start" ).datepicker({dateFormat: "yy-mm-dd"});
        $( "#date-end" ).datepicker({dateFormat: "yy-mm-dd"});
    } );
</script>