<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rabbot</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    Page d'index
</body>
