<% layout('html/layout.html.ejs') %>
<div class="container-fluid">
    <div class="row">
        <section class="candidates">
            <h2>Voir les dernieres candidatures :</h2>
            <div>
                <li>Pierre</li>
                <li>John</li>
                <li>Adrien</li>
            </div>
        </section>
    </div>
</div>
