<meta charset="UTF-8">
<title>Rabbot</title>
<!-- CSS -->
<link rel="stylesheet" href="./assets/css/app.css">
<!-- JS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
