<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GFI Recrutement | <%- title %></title>
    <!-- Meta -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="/static/assets/css/card.css" rel="stylesheet"/>
    <link href="/static/assets/css/app.css" rel="stylesheet" >
    <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/static/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/bootstrap-notify.js"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="/static/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Markdown -->
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.6.3/dist/showdown.min.js"></script>
</head>
<body>
    <div class="site-container wrapper" id="wrapper">
        <% include header/header.html.ejs %>
        <div class="main-panel">
            <% include header/sidebar.html.ejs%>
            <div class="content">
            <%- body %>
            </div>
            <% include footer/footer.html.ejs%>
        </div>
    </div>
</body>
</html>