<!DOCTYPE html>
<html lang="fr">
<head>
    <% include _head.html.ejs %>
</head>
<body>
    <% include header/header.html.ejs %>
    <div class="container">
     
    </div>
    <% include footer/footer.html.ejs%>
</body>
</html>